.bifrost {
  .editor-tab-list-controls {
    display: flex;
    align-items: center;
    position: relative;
    float: left;
    margin-left: 2px;
  }

  .editor-tab-list-controls__inner {
    margin-right: 2px;
    white-space: nowrap;
  }

  .editor-tab-list-controls-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
  }

  .editor-tab-list-controls-icon svg {
    width: 12px;
    height: 12px;
    color: var(--theme-editor-tab-controls-fg);
  }

  .editor-tab-list-controls-icon:hover {
    background-color: var(--theme-editor-tab-controls-hover-bg);
  }
}
