/*
* MENU BAR
*
*/

.menu-bar-section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 34px;
  flex: 0 0 34px;
  padding: 2px 0.45rem;
  border-bottom: 2px solid var(--color-border-menu-bar);
}

.menu-bar-section--left {
  justify-content: flex-start;
}

.menu-bar-section--center {
  justify-content: center;
}

.menu-bar-section--right {
  justify-content: flex-end;
}

.menu-bar-section-row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 34px;
  flex: 0 0 34px;
  border-bottom: 2px solid var(--color-border-menu-bar);

  .menu-bar-section {
    border-bottom: none;
    height: auto;
    flex: 0 0 auto;
  }

  .menu-bar-section--center {
    flex: 1 1 auto;
  }

  .menu-bar-section--right {
    margin-left: auto;
  }
}

.menu-bar__title {
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.menu-bar__text {
  padding: 0.25rem;
}

.menu-bar__divider {
  margin: 0 6px;
  height: 16px;
  border-left: 1px solid #aaa;
}

.menu-bar__element {
  margin: 0 6px;
}

.menu-bar__element--hamburger {
  margin: 0 12px;
}

.menu-bar__button {
  min-width: 24px;
  min-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  margin: 0 1px;
  padding: 4px 3px;
  cursor: pointer;

  svg {
    display: inline-block;
    width: 16px;
    height: 16px;
  }

  .ph,
  .ph-fill,
  .ph-duotone,
  .ph-light,
  .ph-bold {
    display: inline-block;
    width: 20px;
    text-align: center;
    font-size: 1.125rem;
  }

  &:hover {
    background: var(--theme-menu-bar-hover-bg, rgba(0, 0, 0, 0.08));
  }
}

.menu-bar__element {
  svg {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
  }
}

.menu-bar__element {
  select {
    max-width: 25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  select option {
    max-width: 25rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.menu-bar__button--active {
  background: rgba(0, 0, 0, 0.08);
}

.menu-bar__button--inactive {
  opacity: 0.25;
}

.menu-bar__button--inactive:hover {
  background: transparent !important;
}
.menu-bar__icon-bifrost-title {
  display: 'inline-block';
  width: 24px;
  height: 24px;
  margin-right: 4px;
  vertical-align: 'bottom';
  color: '#009688';
}
