.bifrost.bifrost-theme--light {
  --color-markdown-editor-icon-primary: #715637;
  --color-default-editor-icon-primary: #715637;
}

.bifrost.bifrost-theme--dark {
  --color-markdown-editor-icon-primary: #cc9c3c;
  --color-default-editor-icon-primary: #cc9c3c;
}

.markdown-editor__tab-icon {
  color: var(--color-markdown-editor-icon-primary);
}

.default-editor__tab-icon {
  color: var(--color-default-editor-icon-primary);
}
