{
  "compilerOptions": {
    "target": "ES2022",
    "module": "ESNext",
    "moduleResolution": "bundler",
    "strict": true,
    "outDir": "dist",
    "declaration": false,
    "esModuleInterop": true,
    "types": ["node"]
  },
  "include": ["src"]
}
